[Unit]
Description=ntpclient
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/ntpclient_start

[Install]
WantedBy=multi-user.target
