[Match]
Name=wg0

[Network]
Address=10.255.99.1/30

[Route]
Table=200
Destination=0.0.0.0/0
Gateway=10.255.99.2

[RoutingPolicyRule]
FirewallMark=4096
Table=200

